/*
filename: [style.css]
author: [Benjamin Mouritz]
created: [23.02.2021]
last modified: [23.02.2021]
description: [To apply CSS to the following pages: Assign2.html]
*/

body{
    margin: 0;
    width:100%;
    background-color: #F4E8C1;
}

#header{
    background-image: url("../../Assign2/media/header.jpg");
    width: 100%;
    height: 20rem;
    top:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
#headerbackingaccent{
    width: 50%;
    height: 30%;
    margin: auto;
    background-color: #F4E8C1af;
    text-align: center;
    top: 0;
    transform: translate(-1%, 90%);
}
#headerbacking{
    width: 50%;
    height: 30%;
    margin: auto;
    background-color: #111111df;
    text-align: center;
    top: 0;
    transform: translate(0%, 0%);
}



#h1top {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    transform: translateY(-60%);
}

#menubacking{
    display: inline-block;
    width: 100%;
    height: 30%;
    background-color: #111111;
    position: relative;
}

#menutext{
    color: white;
    text-align: center;
    font-size: 2rem;
}


footer {
    background-color: #111111;
    height: 6rem;
    transform: translateY(50%);
}

#footertext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top:2rem;
    color: white;
}